<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>我的部落格</h5>
        <p>分享知識與見解的個人空間</p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>熱門分類</h5>
        <ul class="list-unstyled">
          <li><a href="{{ '/categories/技術/' | relative_url }}" class="text-white">技術</a></li>
          <li><a href="{{ '/categories/投資/' | relative_url }}" class="text-white">投資</a></li>
          <li><a href="{{ '/categories/生活/' | relative_url }}" class="text-white">生活</a></li>
          <li><a href="{{ '/categories/健康/' | relative_url }}" class="text-white">健康</a></li>
          <li><a href="{{ '/categories/學習/' | relative_url }}" class="text-white">學習</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>快速連結</h5>
        <ul class="list-unstyled">
          <li><a href="{{ '/' | relative_url }}" class="text-white">首頁</a></li>
          <li><a href="{{ '/about/' | relative_url }}" class="text-white">關於我</a></li>
          <li><a href="{{ '/contact/' | relative_url }}" class="text-white">聯絡方式</a></li>
          <li><a href="#" class="text-white">隱私政策</a></li>
          <li><a href="#" class="text-white">使用條款</a></li>
        </ul>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; 2026 我的部落格。保留所有權利。</p>
      </div>
    </div>
  </div>
</footer>